@use './assets/config' as c;
@use './assets/art01';
@use './assets/art02';
@use './assets/art03';
@use './assets/artgrid';
@use './assets/artexper';
@use './assets/modulebanner';
@use './assets/artJs';



header{
  height: 100dvh;
  background: c.$color01;
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5rem;
  font-family: c.$fuente01;





}


h1{
  font-size: clamp(1rem, 5vw, 10rem);
  font-weight: 900;
  color: c.$color02;

  @media only screen and (min-width: c.$tablet){
    color: greenyellow;
  }

  @media only screen and (min-width: c.$desktop){
    color: purple;
  }

}