.hidden{
    opacity: 0;
    visibility: hidden;
}

.show{
    animation: showY 1.5s;
}

@keyframes showY {
    20%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}