*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ScienceGothic';
  src: url(./assets/ScienceGothic-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Regular.ttf);
}



// Fuentes y variables

$fuente01: 'ScienceGothic';
$fuente02: 'Roboto';
$color01: #3F5EFB;
$color02:white;
$color03:red; 
$tablet: 800px;
$desktop: 1300px;



header, nav, main, section{
  width: 100%;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 3rem;
  padding: 2rem 0rem;
  @media only screen and (min-width:$desktop){
    padding: 4rem 0rem;
    row-gap: 4rem;
  }
}

h1, h2, h3, h4{
  font-family: $fuente01;
}

h3{
    color: $color01;
    font-size: clamp(1rem, 5vw, 6rem);
    text-align: center;
}
.boton{
  color: $color02;
  text-decoration: none;
  padding: 2rem 5rem;
  background-color: $color03; 
  border-radius: 20px;
  font-weight: 600;
  font-family: $fuente02;
  transition: 0.5s;
  &:hover{
    color: $color03;
    background-color: $color02;
  }}